<div class="section-heading">
		<h6>Editor’s Pick</h6>
	</div>
	
	<div class="row">
		<% editorsPickPostAreas.forEach((editorsPickPostArea, index) => { %>
			<!-- Single Post -->
			<div class="col-12 col-lg-4">
				<div class="single-blog-post">
					<div class="post-thumb">
						<a href="#"><img src="/img/bg-img/<%= editorsPickPostArea.article_image%>" alt=""></a>
					</div>
					<div class="post-data">
						<a href="#" class="post-title">
							<h6><%= editorsPickPostArea.article_title %></h6>
						</a>
						<div class="post-meta">
								<% let now = new Date(editorsPickPostArea.article_postdate); %>
								<% let formattedDate = dateAndTime.format(now,'MMMM D, YYYY '); %>
							<div class="post-date"><a href="#"><%= formattedDate %></a></div>
						</div>
					</div>
				</div>
			</div>
		<% }) %> 
	</div>