<div class="container">
	<div class="row">
		<div class="col-12 col-lg-8">
			<%- include('popularnewsarea.ejs') %>
		</div>
		<div class="col-12 col-lg-4">
			<%- include('popularnewsareainfo.ejs') %>
		</div>
	</div>
</div>