<div class="container">
	<div class="row">
		<div class="col-12 col-lg-8">
			<div class="blog-posts-area">
				<%- include('singleblogpostarea.ejs') %>
			</div>
		</div>

		<div class="col-12 col-lg-4">
			<div class="blog-sidebar-area">
				<%- include('blogsidebararea.ejs') %>
			</div>
		</div>
	</div>
</div>