<div class="container">
	<div class="row justify-content-center">
		<% videos.forEach(video=>{%>
			<div class="col-12 col-sm-6 col-md-4">
				<div class="single-video-post">
					<img src="<%= video.imgVideo %>" alt="">
					<!-- Video Button -->
					<div class="videobtn">
						<a href="<%= video.linkVideo %>" class="videoPlayer"><i
								class="fa fa-play" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		<% }) %> 
	</div>
</div>